nodejs 20.4.0
ruby 3.2.2
yarn 1.22.10
shellcheck 0.4.6
golang 1.19.3
lua 5.4.4
terraform 0.14.3
terragrunt 0.40.2
rust 1.68.2
github-markdown-toc 1.0.0
cf 7.3.0
python 3.10.4
sbcl 2.2.10
neovim ref:master
java adoptopenjdk-openj9-11.0.11+9.openj9-0.26.0
ant 1.10.12
terraform-ls 0.29.1
iam-policy-json-to-terraform 1.8.1
scala 2.13.4
starship 1.13.1
tflint 0.45.0
tfsec 1.28.1
go-jira 0.1.14
