nodejs 16.13.1
ruby 3.2.0
yarn 1.22.10
shellcheck 0.4.6
golang 1.19.3
lua 5.3.5
terraform 0.14.3
terragrunt 0.21.10
rust 1.64.0
github-markdown-toc 1.0.0
cf 7.3.0
python 3.10.4
sbcl 2.2.10
neovim 0.8.1
java adoptopenjdk-openj9-11.0.11+9.openj9-0.26.0
ant 1.10.12
terraform-ls 0.29.1
iam-policy-json-to-terraform 1.8.1
scala 2.13.4
